@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

#root {
  height: 100%;
}

@keyframes slideIn {
  0% {
    transform: translate(100%, -50%) perspective(1000px) rotateY(-10deg);
    opacity: 0;
  }
}

@keyframes slideOut {
  100% {
    transform: translate(100%, -50%) perspective(1000px) rotateY(-10deg);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate(-100%, -50%) perspective(1000px) rotateY(10deg);
    opacity: 0;
  }
}

@keyframes slideOutLeft {
  100% {
    transform: translate(-100%, -50%) perspective(1000px) rotateY(10deg);
    opacity: 0;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #84cc16;
}

::-webkit-scrollbar-track {
  background-color: #000000a0;
}

.main-background {
  font-family: 'Oswald', sans-serif;
  width: 500px;
  background: linear-gradient(#000000f0, #1a2e05f0);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) perspective(1000px) rotateY(-10deg);
  animation: slideIn 250ms forwards;
  color: #ffffff;
  user-select: none;
  overflow: hidden;
}

.leftSide {
  transform: translate(-50%, -50%) perspective(1000px) rotateY(10deg);
  animation: slideInLeft 250ms forwards;
}

.main-background::before {
  content: "";
  position: absolute;
  left: -200px;
  bottom: -200px;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(0,255,0,0.2) 0%, transparent 90%);
  filter: blur(100px);
  pointer-events: none;
  z-index: 0;
}

.tooltip {
  animation: slideIn 250ms forwards;
}